<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../client/css/styles.css">

    <title>Products API</title>
</head>

<body>
    <div class="container">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand" href="../index.html">productsAPI</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#addModal">Add Category</a>
                        </li class="nav-item">
                    </ul>
                </div>
            </div>
        </nav>

        <!-- JUMBOTRON -->
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">Welcome, to productsAPI</h1>
                <p class="lead">Please select a product category below to view details</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-4">
                <div class="list-group mb-5 category-1" id="list-tab" role="tablist"></div>
            </div>

            <div class="col-8">
                <div class="tab-content category-2" id="nav-tabContent"></div>
            </div>
        </div>
    </div>

    <!-- ADD NEW CATEGORY MODAL -->
    <div class="modal" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Add Category</h2>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form method="post" id="addNewCategoryForm">
                        <div class="form-group">
                            <label for="name">Category Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <textarea class="form-control" id="description" rows="5" cols="80"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Add Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../client/js/category.js"></script>
</body>

</html>